.title-container {
  @include respond-to(mobile) {
    margin: 0 auto;
    text-align: center;
    padding: 0 15px;
  }
  @include respond-to(tablet) {
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;
  }
  @include respond-to(desktop) {
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.text {
  @include respond-to(mobile) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
  @include respond-to(desktop) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
