.section-header-portfolio {
  @include respond-to(mobile) {
    padding: 16px 0;
    position: relative;
    border: 1px solid #ececec;
  }
  @include respond-to(tablet) {
    background: #ffffff;
    padding: 25px 0;
    border: 1px solid #ececec;
  }
  @include respond-to(desktop) {
    width: 100%;
    background: #ffffff;
    padding: 25px 0;
    border: 1px solid #ececec;
  }
}
