.what-are-we-doing__img {
  display: flex;
}
.what-are-we-doing__title {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: #212121;
}
.img:not(:last-child) {
  margin-right: 30px;
}

.descript {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 5px;
  background: rgba(47, 48, 58, 0.8);
}
.descript__title {
  padding: 27px;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.img {
  position: relative;
}
