.backdrop {
  @include respond-to(mobile) {
    padding: 93px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 6;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
  }
  @include respond-to(desktop) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 2;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}
.modal {
  @include respond-to(mobile) {
    position: absolute;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @include respond-to(desktop) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.close-button {
  margin-top: 5px;
}
.close-button:hover,
:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.1);
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-modal {
  @include respond-to(mobile) {
    margin-top: 40px;
    display: block;
    width: 370px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  @include respond-to(desktop) {
    margin-top: 0;
    display: block;
    margin-bottom: 20px;
    width: 448px;
    height: 23px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}
.form-container {
  @include respond-to(mobile) {
    margin: 0 auto;
  }
  @include respond-to(desktop) {
    margin-top: 12px;
  }
}
.form-field {
  @include respond-to(mobile) {
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
    position: relative;
  }

  @include respond-to(desktop) {
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
    position: relative;
  }
}

.form-field input,
.form-messeg {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  margin-top: 15px;
  padding: 0 10px 0 40px;
  transition: 250ms linear border;
  &:focus {
    outline: none;
    border: 1px solid #2196f3;
  }
  &:focus + svg {
    fill: #2196f3;
  }
}
.form-messeg {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.label-modal {
  display: block;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: -4px;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transition: 250ms linear fill;
}
.form-messeg:placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.policy-box {
  @include respond-to(mobile) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.16px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  @include respond-to(desktop) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
}
.policy-box a {
  color: #2196f3;
  text-decoration: underline;
  padding-left: 5px;
}
.link {
  @include respond-to(mobile) {
  }
}
.policy-chackbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.policy-chackbox:checked + .policy-box::before {
  background-color: #2196f3;
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}
.policy-chackbox:focus + .policy-box::before {
  border: none;
  outline: 1px solid #2196f3;
}
.policy-box::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}
.form-submit {
  @include respond-to(mobile) {
    width: 200px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  @include respond-to(desktop) {
    width: 200px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}
