.footer-title {
  @include respond-to(mobile) {
    min-width: 480px;
    margin: 0 auto;
    padding: 60px 0;
    background-color: #2f303a;
  }
  @include respond-to(tablet) {
    margin: 0 auto;
    width: 100%;
    padding: 60px 0;
    background-color: #2f303a;
  }
  @include respond-to(desktop) {
    margin: 0 auto;
    width: 100%;
    padding: 60px 0;
    background-color: #2f303a;
  }
}
