.footer-title {
  @include respond-to(mobile) {
    width: 100%;
    padding: 60px 0;
    background-color: #2f303a;
  }
  @include respond-to(desktop) {
    width: 100%;
    padding: 60px 0;
    background-color: #2f303a;
  }
}
.footer {
  @include respond-to(mobile) {
    width: 320px;
    margin: 0 auto;
    padding: 0 15px;
  }
  @include respond-to(desktop) {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
