.header {
  @include respond-to(mobile) {
    min-width: 480px;
    padding: 16px 0;
    position: relative;
  }
  @include respond-to(tablet) {
    min-width: 768px;
    display: flex;
    flex-wrap: wrap;
    padding: 22px 0;
  }
  @include respond-to(desktop) {
    width: 100%;
    background: #ffffff;
    padding: 25px 0;
  }
}
