.footer-title {
  @include respond-to(mobile) {
    width: 100%;
    padding: 60px 0;
    background-color: #2f303a;
  }
  @include respond-to(desktop) {
    width: 100%;
    padding: 60px 0;
    background-color: #2f303a;
  }
}
